@(posts : List[Post])

@main("My Blog"){

	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Project name</a>
        </div>
      </div>
    </div>
	
	<div class="hero-unit">
		<h1>Moj Blog</h1>
		<p>Moj super coolovy blog, ze sa pojebes!</p>
	</div>
	
	<ul>
	@for(post <- posts) {

		<li>
			<h2>
				<a href="@routes.Application.show(post.id)" >@post.title</a>
			</h2>
			<p>@post.content</p>
		
		</li>	
	}
	</ul>
	
	<hr>
	<footer>
		<p>by Vlastimil Brecka - 2012 - FEI TUKE</p>
	</footer>
}


